doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Create Post
        link(rel="stylesheet", href="/css/main.css")
    body
        header
            h1 Post Creator
            div
                input(type="button", name="form", value="CREATE POST")
                a(href="http://localhost:3000", target="brackets") View on the site
        section
            form#form(action="", method="post")
                label Write Blog
                textarea(name="")