*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    display: none;
}
html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    width: 100%;
    padding: 1em 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #1C1C1C;
    color: #F1F1F1;
    font-weight: 700;
}
header h1{
    white-space: nowrap;
    letter-spacing: .1em;
    font-size: 2rem;
    cursor: default;
}
header div input{
    border: none;
    background-color: #F1F1F1;
    border-radius: .5em;
    padding: .5em 1em;
    cursor: pointer;
    margin-right: 2em;
}
header div a{
    color: #F1F1F1;
    text-decoration: none;
}
header div a:hover{
    opacity: .75;
}
header h1::selection, header div a::selection{
    background-color: #F1F1F1;
    color: #1C1C1C;
}
section{
    width: 100%;
    padding: 1em 2em;
    color: #1C1C1C;
}
section textarea{
    width: 100%;
    margin-top: 1em;
    height: 80vh;
    resize: none;
    border: none;
    border-top: 3px solid #1C1C1C;
    border-bottom: 3px solid #1C1C1C;
}
section textarea:focus{
    outline: none;
}
section #form{
    text-align: center;
}